
<div class="jumbotron welcome-nick">
  <h1 align="center">Venue Shark</h1>
  <p align="center">Listen like the locals</p>
</div>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      
    </tbody>
  </table>

<div class="container">
  <div class="row-fluid">
    <div class='col-md-4 points'>
      <h4 align="center">Find local bands, fuckboy</h4>
    </div>

    <div class='col-md-4 points'>
      <h4 align="center">Fuck you nigger</h4>
    </div>

    <div class='col-md-4 points'>
      <h4 align='center'>Rawr</h4>
    </div>
  </div>



